.container1 {
    padding: 20px 55px;
  }
  @media (max-width: 768px) {
    .container1 {
      padding: 30px 6px;
    }
  }
  @media (min-width: 1440px) {
    .container1 {
      padding: 0px 6px;
    }
  }
  