/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 5px; /* Make the scrollbar thin */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(202, 199, 199); /* Track background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle color */
  border-radius: 2px; /* Rounded corners for the handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
/* productInfo.css */
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0bcbc;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar {
  overflow-y: auto; /* Ensures scrollbars are visible */
}

/* WebKit Browsers (Chrome, Edge, Safari) */
.sidebar::-webkit-scrollbar {
  width: 6px; /* Set the scrollbar width */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the thumb (handle) color */
  border-radius: 4px; /* Make it rounded */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the track (background) color */
}

/* For Firefox */
.sidebar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
.productSection {
  padding: 0px 4rem;
}
@media (max-width: 640px) {
  .productSection {
    padding: 0px 1rem;
  }
}
@media (min-width: 1440px) {
  .productSection {
    padding: 0px 4rem;
  }
}
